body {
  background-color: turquoise;
  margin: 0;
  text-align: center;
  font-family: "Courier", Arial, sans-serif;
  color: black;
}

.top {
  background-color: #3c415e;
  position: relative;
  padding: 10px;
  margin: 0;
}

h1 {
  margin: 1.25rem auto;
  color: turquoise;
}

h2 {
  text-align: center;
  color: grey;
  position: relative;
}

p {
  color: grey;
  padding: 0 20px;
}

.middle-container {
  background-color: #dfe2e2;
  margin: 0;
  padding: 5%;
}

.bottom-container {
  background-color: #738598;
  margin: 0;
  padding: 3%;
}

img {
  width: 20%;
}

.me {
  transform: rotate(270deg);
  margin: 0% 0% 0% 0%;
  width: 10%;
  height: 10%;
  border-radius: 25%;
}

.bcloud {
  position: absolute;
  left: 50%;
  opacity: 0.5;
}

.tcloud {
  position: absolute;
  right: 55%;
  opacity: 0.7;
}

.mountain {
  width: 30%;
}

.btn {
  color: inherit;
}

.footer-link {
  font-family: "Courier", Arial, serif;
  color: inherit;
}

.change {
  color: rgb(33, 224, 74);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-shadow: #080808;
}

.motto-input{
  align-self: center;
  box-sizing: content-box;
  color: darkgrey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.motto-button {
  color: rgb(19, 31, 31);
  text-decoration-color: #3c415e;
  position: relative;
  text-align: center;
  align-self: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}